{% extends "base.html" %}

{% block title %}Project #1: Full-text Comparator{% endblock %}

{% block more_css %}
.highlight {background-color: yellow;}
.group:before, .group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
	zoom:1; /* IE6&7*/
}
th {font-weight:normal;}
em {font-weight:blod;}
#common_words {line-height:200%;}
#common_words span {color:blue}
.font-weight1 {font-size:100%;}
.font-weight2 {font-size:130%;}
.font-weight3 {font-size:160%;}
.font-weight4 {font-size:200%;}
.font-weight5 {font-size:250%;}
{% endblock more_css %}

{% block content %}
<header id="branding">
	<h1>Project #1: Full-text Comparator</h1>
	<hr />
</header>
<div class="full layout-grid">
	<section class="width4" id="upload_form">
		<!-- Upload form. Note enctype attribute! -->
		<form action="/project1/" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<label class="column first width1">XML1:  <input type="file" name="xml_file1" /></label>
			<label class="column width1">XML2:  <input type="file" name="xml_file2" /></label>
			<input class="column unitx1" type="submit" value="Upload" />
		</form>
	</section>
	<hr />
	<section>
		<h2>Results of comparison</h2>
		<table class="table-column width4">
			<thead>
				<tr>
					<th class="width2">
						<em>{{ title_0 }}</em><br />
						{{ journal_0 }}, {{ year_0 }}
					</th>
					<th class="width2">
						<em>{{ title_1 }}</em><br />
						{{ journal_1 }}, {{ year_1 }}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>
						<em>Statistics</em>
						{{ statistics_list_0|safe }}
					</th>
					<th>
						<em>Statistics</em>
						{{ statistics_list_1|safe }}
					</th>
				</tr>
				<tr>
					<th colspan="2" id="common_words">
						<em>Identical words in both documents:</em><br />
						{{ common_word_cloud|safe }}
					</th>
				</tr>
				<tr>
					<th>
						<em>Abstract</em>
						<p>{{ document_list_0|safe }}</p>
					</th>
					<th>
						<em>Abstract</em>
						<p>{{ document_list_1|safe }}</p>
					</th>
				</tr>
			</tbody>
		</table>
	</section>					
</div>
{% endblock content %}

{% block jquery %}
$("span").hover(
    function(){
        var theClass = $(this).attr("class");
		theClass = theClass.split(" ", 1)[0];
        if (theClass.match(/word_/)) {
            $("span."+theClass).addClass("highlight");
        }
    },
    function(){    
        $("span").removeClass("highlight");
    });
{% endblock jquery %}