{% extends "base.html" %}

{% block title %}Sub-project: Pubmed Fetcher{% endblock %}

{% block more_css %}
.highlight {background-color: yellow;}
.group:before, .group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
	zoom:1; /* IE6&7*/
}
th {font-weight:normal;}
em {font-weight:blod;}

{% endblock more_css %}

{% block content %}
<header id="branding">
	<h1>Sub-Project: Pubmed Fetcher</h1>
	<hr />
</header>
<section class="width4 stroke">
	<div class="column width1 first">
		<h3>Search in the collection...</h3>
		<table>
			<tbody>
				<tr>
					<td>Table row 1, data 1</td>
					<td>Table row 1, data 2</td>
				</tr>
				<tr>
					<td>Table row 2, data 1</td>
					<td>Table row 2, data 2</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="2">Search bar.....</td>
					
				</tr>
			</tfoot>			
		</table>
	</div>
</section>
{% endblock content %}

{% block jquery %}
$("span").hover(
    function(){
        var theClass = $(this).attr("class");
		theClass = theClass.split(" ", 1)[0];
        if (theClass.match(/word_/)) {
            $("span."+theClass).addClass("highlight");
        }
    },
    function(){    
        $("span").removeClass("highlight");
    });
{% endblock jquery %}